body{
    margin: 0;
    border-top: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
header{
    height:150px;
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

header h1{
    font-size: 35px;
    font-style: oblique;
}

nav ul{
    margin-right: 40px;
}

nav li{
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    font-style: oblique;
}

main{
    width: 90%;
    margin: auto;
}

.Container{
    height: 300px;
    width: 300px;
    margin: auto;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}

.Image{
    overflow: hidden;
    min-height: 300px;
    max-height: 400px;
    vertical-align: center;
}

footer{
    margin-top: 20px;
    border-top: solid black 1px;
    text-align: center;
    position: sticky;
}

.Adminlog{
    text-decoration: none;
    color: black;
}